.node {
  cursor: pointer;
}

.overlay{
    background-color:#EEE;
}
 
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
 
.node text {
  font-size:14px; 
  font-family:sans-serif;
}
 
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
     display: none;
}

.ui-tooltip, .arrow:after {
  background: black;
  border: 2px solid white;
}

.ui-tooltip {
	width: 400px;
}

.ui-tooltip-content {

	font-size: 8pt;
	font-family: Courier;
	white-space: pre-line;
}
